* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
}

h3 {
  font-size: 2.8rem;
}
button {
  font-size: 1.8rem;
}
nav {
  background-color: rgb(71, 71, 110);
  color: white;
  padding: 3rem;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  margin: 0rem 4rem;
}
.hero-section {
  background-image: url(/pexels-acharaporn-kamornboonyarush-1028714.jpg);
  height: 50rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 10rem;
  text-shadow: 3px 3px 10px black; /*first means shadow casted to the right/left,
  second means shadow up and down (y axis), and third would be the strength of the 
  fading you'd like*/
}

.hero-section button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  background: rgb(133, 133, 202);
  border: none;
  color: white;
  cursor: pointer;
}

.form-section {
  text-align: center;
}

form {
}
form input,
form label,
form textarea {
  display: block; /*block made it so they stacked 
  on top of each other*/
  font-size: 2.4rem;
}
form input,
form textarea {
  margin: 2rem auto; /*Auto helps align the inputs
  perfectly under the labels. 2rem makes some space
  between the labels top/bottom.*/
  width: 50%;
}

form button {
  margin-bottom: 10rem;
  padding: 1rem 4rem;
  background: rgb(133, 133, 202);
  border: none;
  color: white;
  cursor: pointer;
  width: 50%;
}
